DJANGO_SECRET_KEY=django-insecure-eva3-david-gonzalez-desarrollo-local-2026
DJANGO_DEBUG=1
DB_NAME=eva3_back_end
DB_USER=eva3_user
DB_PASSWORD=123456
DB_ROOT_PASSWORD=123456
DB_HOST=127.0.0.1
DB_PORT=3307
DJANGO_SUPERUSER_USERNAME=administrador
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=123456
